
.arc text {
    font: 16px arial;
    fill: #000;
    text-anchor: middle;
 }
 
 .arc path {
    stroke: #fff;
 }

 .sideline text{
    font: 18px arial;
 }

 body {
    background-color: #fff;
}

.title {
    font: 18px arial;
    fill: #000;
    font-weight: italic;
 }