/*Code taken from https://www.tutorialspoint.com/d3js/d3js_graphs.html */

.arc text {
    font: 16px arial;
    fill: #000;
    text-anchor: middle;
 }
 
 .arc path {
    stroke: #fff;
 }

 body {
    background-color: #fff;
}

.title {
    fill: #000;
    font-weight: italic;
 }