<!DOCTYPE html>
<html>
    <head>

        <link href="./static/myStyles.css" rel="stylesheet" >

      
        <script src = "https://d3js.org/d3.v4.min.js" type = "text/javascript"></script>
        <script src = "./static/Queue.js" type = "text/javascript"></script>
    </head>

    <body>
        <svg width = "600" height = "620"></svg>
        <script src="./static/languageGraphs.js" type='text/javascript'></script>
        <script>
            queue()
                .defer(d3.json, "/generate/info")
                .defer(d3.json, "/username")
                .await(mainLanguageGraph);

            function mainLanguageGraph(error, data, username) {
                var title = "Most used languages in " + String(username) + "'s public repositories."
                makePieChart(data, title)
            }
        </script>

        <br> <br>
        <a href="/other">See breakdown of other section.</a> 
        <br>
        <a href="/additional">See more details on users most used languages.</a> 
    </body>
</html>